# VCS
.git
.gitignore

# Local env/OS files
.env
.env.*
.DS_Store

# Python caches
__pycache__/
.pytest_cache/
.mypy_cache/

# Editors/IDEs
.vscode/
.idea/

# Virtual envs
.venv/
venv/

# Notebooks and large artifacts
*.ipynb
notebook_code_dump.py
final.json
trash/
